services:
  - type: web
    name: flipkart-clone
    env: node
    region: oregon
    plan: free
    buildCommand: npm ci
    startCommand: node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
