option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: "3000"
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "node index.js"
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: "20.x"
  - namespace: aws:elb:loadbalancer
    option_name: CrossZone
    value: "true"
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: SingleInstance
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
